@import "./_vars.scss";

.caption {
  position: absolute;
	width: calc(100% - 80px);
	bottom: 0;
	padding: 40px;
	text-align: center;
  overflow: hidden;
  span {
    color: #fff;
    @include video-caption-rule;
  }
  @include anim-show-rule;
}
