#loader {

  width: 1920px;
  height: 1080px;
  background-color: #000;

  #asset-container {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 998;
    opacity: 0;

    img {
      width: 50px;
      height: 30px;
      float: left;
    }

    #loader-source-images {
      div {
        width: 50px;
        height: 50px;
        float: left;
        overflow: hidden;
        background-position: 0, 0;
        background-repeat: no-repeat;
      }

      #map-1 {
        background-image: url('../img/map-all.jpg');
      }
      #map-2 {
        background-image: url('../img/map-green.jpg');
      }
      #map-3 {
        background-image: url('../img/map-blue.jpg');
      }
      #map-4 {
        background-image: url('../img/map-purple.jpg');
      }

    }

    #loader-source-images {
      div {
        width: 50px;
        height: 50px;
        float: left;
        overflow: hidden;
        background-position: 0, 0;
        background-repeat: no-repeat;
      }
    }

    // dom render all fonts
    p {
      font-weight: normal;
      font-size: 12px;
      line-height: 12px;
      color: #333;
    }
    p.a {
      font-family: 'W-Medium';
    }
    p.b {
      font-family: 'W-Medium-Italic';
    }
    p.c {
      font-family: 'W-Semibold';
    }
    p.d {
      font-family: 'W-Medium';
    }
    p.e {
      font-family: 'W-Medium-Italic';
    }
    p.f {
      font-family: 'W-Narrow-Semibold';
    }
    p.g {
      font-family: 'W-Narrow-Book';
    }
    p.h {
      font-family: 'W-Semibold';
    }
    p.i {
      font-family: 'SourceHanSansCN-Normal';
    }
    p.j {
      font-family: 'SourceHanSansCN-Medium';
    }
    p.k {
      font-family: 'SourceHanSansCN-Bold';
    }
    p.l {
      font-family: 'W-Book';
    }
    p.m {
      font-family: 'W-Cond-Semibold';
    }
    p.n {
      font-family: 'W-Cond-Medium';
    }

  }


  #message-container {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 997;
    p {
      margin: 0;
      padding: 0;
      margin-top: 500px;
      text-align: center;
      vertical-align: middle;
      color: #ffffff;
      font-family: 'W-Narrow-Book';
      font-size: 79px;
      line-height: 79px;
      font-weight: normal;
      letter-spacing: 3px;
    }

  }

}
