@import "./_vars.scss";

#video {

  width: 100%;
  height: 1035px;
  background-color: #000;

  #progress-container {
    z-index: 1;
    position: absolute;
    top: 33px;
    right: 48px;
  }

  .caption-container {
    z-index: 1;
    position: absolute;
    bottom: 100px;
    left: 100px;
  }

  button {
    position: absolute;
    z-index: 1;
    top: 20px;
    left: 55px;
    width: 92px;
    height: 92px;
    background-image: url('../img/close-btn-white-drop-shadow.png');
    background-repeat: no-repeat;
    background-position: 0 0;
    background-color: transparent;
    background-size: 100%;
    &:active {
      opacity: 0.7;
    }
  }

}
