@import "./_vars.scss";

#video {

  width: 100%;
  height: 1035px;
  background-color: #000;

  #progress-container {
    z-index: 1;
    position: absolute;
    top: 33px;
    right: 48px;
  }

  #caption-container {
    z-index: 1;
    position: absolute;
		left: 0;
		bottom: 0;
		right: 0;
		width: 100%;
    height: 1035px;
    background: linear-gradient(-180deg, rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, 0.6));
  }

  button {
    position: absolute;
    z-index: 2;
    top: 20px;
    left: 55px;
    width: 92px;
    height: 92px;
    background-image: url('../img/close-btn-white-drop-shadow.png');
    background-repeat: no-repeat;
    background-position: 0 0;
    background-color: transparent;
    background-size: 100%;
    &:active {
      opacity: 0.7;
    }
  }

}
